.installation_wrap {
    .mt-9 {
        margin-top: 9px;
    }
    .my-16 {
        margin: 16px 0;
    }
    .mb-20 {
        margin-bottom: 20px;
    }
    .mt-16{
        margin: 16px 0 0;
    }

    .theme_selector_block {
        margin-top: 12px;
    }

    .enable_hidden_content_wrap{
        .Polaris-CalloutCard__Buttons{
            display: none;
        }
    }
}
