// ----- white shade -----
$white : #ffffff;
$whiteSmoke : #F2F4F7;
$softPeach : #EEEEEE;
$ceramicwhite: #F8F9FC;
$vistaWhite: #F9F9FA;
$borderWhite: #EAECF0;

// ----- gray shade -----
$gray: #6D7175;
$lightgray: #E4E5E7;
$davyGrey: #BABFC3;
$coolGrey: #DDE0E4;
$silver: #C9CCCF;
$textGrey: #98A2B3;

// ----- black shade -----
$black: #000000;
$primary: #101828;
$darekBlack: #202223;

// ----- blue shade ----
$blue: #1570EF;
$lightblue: #EBF9FC;
$lightgreyblue: #98C6CD;
$darkSkyBlue: #005BD3;

//  ----- green shade -----
$mintgreen: #51CD88;
$mintlightgreen: #D1FADF;
$green: #039855;
$darkgreen: #008060;
$lightgreen: #ECF6F1;
$tealGreen: #007A5C;

// ------ yellow shade -----
$yellow: #DC6803;
$lightyellow: #FEF0C7;

// ----- red shade -----
$red: #D82C0D;
$lightred: #FEE4E2;
$rose: #E0B3B2;
$roseWhite: #FFF4F4;
